
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494900667769'); /* IE9*/
  src: url('iconfont.eot?t=1494900667769#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494900667769') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494900667769') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494900667769#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-add:before { content: "\e639"; }

.icon-icon-clock:before { content: "\e63a"; }

.icon-icon-close:before { content: "\e63b"; }

.icon-icon-delete:before { content: "\e63c"; }

.icon-icon-compass:before { content: "\e63d"; }

.icon-icon-document:before { content: "\e63e"; }

.icon-icon-edit:before { content: "\e63f"; }

.icon-icon-email:before { content: "\e640"; }

.icon-icon-export:before { content: "\e641"; }

.icon-icon-location:before { content: "\e642"; }

.icon-icon-money:before { content: "\e643"; }

.icon-icon-more:before { content: "\e644"; }

.icon-icon-person:before { content: "\e645"; }

.icon-icon-open:before { content: "\e646"; }

.icon-icon-overlapping:before { content: "\e647"; }

.icon-icon-point:before { content: "\e648"; }

.icon-icon-phone:before { content: "\e649"; }

.icon-icon-person1:before { content: "\e64a"; }

.icon-icon-postmenu:before { content: "\e64b"; }

.icon-icon-post:before { content: "\e64c"; }

.icon-icon-report:before { content: "\e64d"; }

.icon-icon-prompt:before { content: "\e64e"; }

.icon-icon-print:before { content: "\e64f"; }

.icon-icon-resume-educatio:before { content: "\e650"; }

.icon-icon-resume-certific:before { content: "\e651"; }

.icon-icon-resume-evaluati:before { content: "\e652"; }

.icon-icon-resume-goal:before { content: "\e653"; }

.icon-icon-resume-language:before { content: "\e654"; }

.icon-icon-resume-other:before { content: "\e655"; }

.icon-icon-resume-training:before { content: "\e656"; }

.icon-icon-resume-skill:before { content: "\e657"; }

.icon-icon-resume-project:before { content: "\e658"; }

.icon-icon-resume-work:before { content: "\e659"; }

.icon-icon-school:before { content: "\e65a"; }

.icon-icon-send:before { content: "\e65b"; }

.icon-icon-squarepoint:before { content: "\e65c"; }

.icon-icon-tagclose:before { content: "\e65d"; }

.icon-icon-tick:before { content: "\e65e"; }

.icon-icon-tag:before { content: "\e65f"; }

.icon-icon-setting:before { content: "\e660"; }

