/* 重置字号和字符间距 */
@mixin revert{
	font-size:12px;
	letter-spacing:normal;
}

/* 消除空格 */
@mixin trim{
	font-size:0;
	letter-spacing:-0.5em;
	-webkit-text-size-adjust:none;
	*zoom:1;
}

/* inline-block化 */
@mixin inline-block{
	display:inline-block;
	*display:inline;
	*zoom:1;
}

/* 隐藏内容，常用于图片代替文字 */
@mixin zero-size{
	width:0;
	height:0;
	padding:0;
	overflow:hidden;
	font-size:0;
	line-height:200%;
	-webkit-text-size-adjust:none;
	@include inline-block;
}

/* 翻转 */
@mixin rotateEle($x:180deg, $y:180deg){
	-webkit-transform:scale($x, $y);
	-moz-transform:scale($x, $y);
	-khtml-transform:scale($x, $y);
	-o-transform:scale($x, $y);
	transform:scale($x, $y);
}

@mixin items{
	@include revert;
	@include inline-block;
	vertical-align:top;
}

/* 用 border 写三角形(常用来做小箭头) */
@mixin arrow($width:10px, $color:#000, $dir:top){
	@include zero-size;
	border-style:solid;
	border-color:transparent;
	vertical-align:middle;
	border-width:$width;
	border-#{$dir}-style:solid;
	border-#{$dir}-color:$color;
}

//表单宽度
@mixin width($selector, $value){
	#{$selector}{
		width:$value;
	}
}
//图标
.ic-icon[class^='icon-'], .ic-icon[class*=' icon-']{
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform:none;
  line-height:1;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.ic-icon-color{
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

