.overflow{overflow: hidden}
.searchbar .search-input{
    float: left;
    width: 679px;
    height: 46px;
    font-size: 16px;
    padding-left: 20px;
    border: 1px solid #FE6B2B;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.searchbar button{
    float: left;
    width: 120px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FE6B2B;
}
.searchbar input::-webkit-input-placeholder {font-size: 12px}
.searchbar input:-moz-placeholder {font-size: 12px}
.searchbar input::-moz-placeholder {font-size: 12px}
.searchbar input:-ms-input-placeholder {font-size: 12px}
.load {
    margin-top: 15px;
}
.load .filterSelector{
    background-color: #FCFCFC;
    padding: 10px 20px 20px 20px;
}
.filterSelector .col-1 {border-bottom: 1px dashed #dedede;padding-bottom: 12px;}
.filterSelector .col-1 .title{line-height: 22px}
.filterSelector .industry-row .title,.filterSelector .location-row .title,.filterSelector .edu-row .title{line-height: 18px}
.filterSelector .title{
    float: left;
    color: #999;
}
.filterSelector .col-1 .restore-defaults{
    float: right;
    color: #999;
    line-height: 22px;
}
.filterSelector .col-1 li{
    min-width: 55px;
    max-width: 125px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    border: 1px solid #EEEEEE;
}
.filterSelector li{float: left;}
.filterSelector .row{margin-top: 15px;overflow: hidden;}
.filterSelector .row .title{padding-right: 10px;}
.filterSelector .row .el-checkbox-group{float: left}
.filterSelector .row .industry-more,.filterSelector .row .location-more{float: right;color: #3B99FF;}
.filterSelector .channel-row li,.filterSelector .function-row li{margin-right: 40px;cursor: pointer;}
.filterSelector .channel-row li:hover,.filterSelector .function-row li:hover,.filterSelector .channel-row li.active,.filterSelector .function-row li.active{color: #3B99FF;}
// select
.other-row .el-input input::-webkit-input-placeholder {color: #333;}
.other-row .el-input input:-moz-placeholder {color: #333;}
.other-row .el-input input::-moz-placeholder {color:#333;}
.other-row .el-input input:-ms-input-placeholder {color:#333;}
.other-row .el-input{font-size: 12px;width: 100px;}
.other-row .el-select:hover .el-input__inner{border-color: #ddd;}
.other-row .el-input__inner{
  border: 1px solid #ddd;
  border-radius: 0;
  height: 24px;
  color: #333;
}
.other-row .el-select .el-input .el-input__icon{color: #333;}
.other-row .el-select-dropdown__list{padding: 3px 0;}
.other-row .el-select-dropdown__item{
  font-size: 12px;
  color: #333;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
}
.other-row .el-select-dropdown__item.hover{background-color: #F3F9FF;}
.other-row .el-select-dropdown__item.selected.hover,.el-select-dropdown__item.selected{background-color: #3B99FF;}
.other-row .el-input__icon+.el-input__inner{
    padding-right:28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.other-row .el-select .el-input .el-input__icon{
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    border-color: transparent;
    vertical-align: middle;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: #333;
    margin:-2px 10px 0 0;
    -ms-transform: translateY(0) rotate(180deg);
    transform: translateY(0) rotateZ(180deg);
}
.other-row .el-select{margin-right: 10px}
.search-results-list .toolbar p{float: left;line-height: 22px;}
.search-results-list .toolbar p span{color:#FE6B2B;padding: 0 5px;}
.search-results-list .data-list-checkbox{float: left;margin-left: 40px;line-height: 22px;}
.search-results-list .update-sort{float: right;}
.search-results-list .update-sort label{
    float: left;
    width: 68px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #FE6B2B;
    box-sizing: border-box;
    cursor: pointer;
}
.update-sort .updated_at_desc{border: 1px solid #FE6B2B;border-right: none;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.update-sort .compound_sort{border: 1px solid #FE6B2B;border-left: none;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.search-results-list .update-sort .active{background-color: #FE6B2B;color:#fff;}
.search-results-list ul{margin-top: 20px;border-top: 1px solid #EEEEEE;padding: 30px 0;}
.search-results-list li{padding-bottom: 22px;border-bottom: 1px solid #EEEEEE;}
.search-results-list li .source{padding-left: 18px}








