<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="e成招聘，是国内领先的一站式大数据招聘服务平台，服务超过16000家大中型企业，企业会员数达到80000+。e成独家首创一站式全网简历搜索、个性化人才推荐、人脉内推、人才地图、云人才库、企业画像、员工宝留等基于大数据的招聘服务产品，真正开创招聘3.0时代，担当人才大数据领域领跑者！" name="description" />
    <meta content="e成,招聘3.0,微信招聘,成95,成就我,招聘管理系统,内部推荐,内推,社交招聘,人才推荐系统,人才搜索,职场大数据,人力资源大数据,HR大数据,一站式招聘解决方案,移动人才库,社会化招聘,移动招聘,招聘流程,招聘方案,人才库,手机官网,猎头招聘,逸橙科技" name="keywords" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>橙单 - 大数据让猎头成单更容易</title>
    <script type="text/javascript" src="/static/js/<%= htmlWebpackPlugin.options.bundleName %>"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  
</html>
